:root {
    --c0: #cd4f02;
    --c0-txt: #ffcb87;
    --c1: #e5e3d6;
    --c1-txt: #020302;
    --c2: #bdaf82;
    --c2-txt: #4d4425;
    --c3: #31291c;
    --c3-txt: #bfaf81;
    --c4: #deb503;
    --c4-txt: #654b09;
}

@font-face {
    font-family: 'Toxigenesis';
    src: url('fonts/toxigenesis_bd.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* 
{
    margin: 0;
    padding: 0;
    font-family: 'Toxigenesis';
}

body
{
    background-color: var(--c2);
    min-height: 1000px;
}

::selection
{
    color: var(--c4-txt);
    background-color: var(--c4);
}

.main-content
{
    margin: 40px auto;
    padding: 30px;
    background-color: var(--c3);
    width: 75%;
    overflow: auto;
    border-radius: 5px;
    align-self: center;
}

.main-content h1
{
    color: var(--c0);
    padding: 70px;
    text-align: center;
    font-size: 40px;
}

.selector
{
    text-align: center; /* Centers the title */
    margin: 0 auto;
    width: 100%;
}

.selector h2
{
    color: var(--c1);
    padding-bottom: 15px;
    text-align: center;
}

.selector form
{
    color: var(--c2);
    font-size: 24px;
    font-weight: bold;
}

.selector select
{
    background-color: var(--c0);
    color: var(--c0-txt);
    border: none;
    border-radius: 5px;
    padding: 4px;
    font-size: 22px;
    font-weight: bold;
}

.selector button
{
    background-color: var(--c2);
    color: var(--c3);
    border: none;
    border-radius: 5px;
    padding: 4px;
    margin-left: 14px;
    font-size: 22px;
    font-weight: bold;
}

.whereto h2
{
    color: var(--c1);
    font-size: 30px;
    margin-top: 30px;
    text-align: center;
}

.timetables h2
{
    color: var(--c2);
    padding-top: 25px;
    padding-bottom: 10px;
    text-align: center;
}

table
{
    width: 80%;
    table-layout: fixed;
    border-width: thin;
    border-color: var(--c3);
    margin: 0 auto;
}

table tr:first-child th:first-child
{
    border-top-left-radius: 5px;
}

table tr:first-child th:last-child
{
    border-top-right-radius: 5px;
}

table tr:last-child td:first-child
{
    border-bottom-left-radius: 5px;
}

table tr:last-child td:last-child
{
    border-bottom-right-radius: 5px;
}

table th
{
    background-color: var(--c0);
    color: var(--c0-txt);
    border-width: thin;
    border-color: var(--c3);
    padding: 4px;
    text-align: center;
    font-size: 20px;
}

table td
{
    background-color: var(--c2);
    color: var(--c3);
    border-width: thin;
    border-color: var(--c3);
    padding: 4px;
    text-align: center;
    font-size: 20px;
}