* 
{
    margin: 0;
    padding: 0;
    font-family: 'Ocr A', 'Consolas', 'Trebuchet MS', sans-serif;
}

body
{
    background-color: #8D99AE;
    min-height: 1000px;
}

.header
{
    color: #EDF2F4;
    background-color: #2B2D42;
    position: relative;
}

nav
{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav .logo
{
    width: 100px;
    cursor: pointer;
}

::selection
{
    color: #EDF2F4;
    background-color: #B10029;
}

.main-content
{
    margin: 0 auto;
    padding: 2px;
    margin-top: 10px;
    background-color: #2B2D42;
    width: 100%;
    overflow: auto;
    border-radius: 5px;
    align-self: center;
}

.main-content h1
{
    color: #B10029;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 26px;
}

.selector
{
    align-items: center;
}

.selector h2
{
    color: #EDF2F4;
    padding-bottom: 15px;
    text-align: center;
    font-size: 25px;
}

.selector form
{
    text-align: center;
    color: #8D99AE;
    font-size: 18px;
    font-weight: bold;
}

.opts
{
    display: flex;
    flex-wrap: wrap; /* allow button to move to next row */
    justify-content: center; /* center items horizontally */
    gap: 7px;
}

.selector select
{
    background-color: #B10029;
    color: #EDF2F4;
    border: none;
    border-radius: 5px;
    padding: 4px;
    font-size: 18px;
    font-weight: bold;
}

.selector button
{
    background-color: #8D99AE;
    color: #2B2D42;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    margin: 20px;
}

.butt
{
    margin: 0 auto;
    display: block;
    padding: 6px;
    width: 100%;
}

.whereto h2
{
    color: #EDF2F4;
    font-size: 30px;
    margin-top: 30px;
    text-align: center;
}

.timetables h2
{
    color: #8D99AE;
    padding-top: 25px;
    padding-bottom: 10px;
    text-align: center;
}

table
{
    width: 95%;
    table-layout: fixed;
    border-width: thin;
    border-color: #2B2D42;
    margin: 0 auto;
}

table tr:first-child th:first-child
{
    border-top-left-radius: 5px;
}

table tr:first-child th:last-child
{
    border-top-right-radius: 5px;
}

table tr:last-child td:first-child
{
    border-bottom-left-radius: 5px;
}

table tr:last-child td:last-child
{
    border-bottom-right-radius: 5px;
}

table th
{
    background-color: #B10029;
    color: #EDF2F4;
    border-width: thin;
    border-color: #2B2D42;
    padding: 4px;
    text-align: center;
    font-size: smaller;
}

table td
{
    background-color: #8D99AE;
    color: #2B2D42;
    border-width: thin;
    border-color: #2B2D42;
    padding: 4px;
    text-align: center;
    font-size: 20px;
}